/* ===============================
    ------------------------------
    Color Palette
    ------------------------------
    principal: #A3CAEF
    tittle: #222A68
    text: #85A1C1
    black: #06070E
    white: #EBF2FA
    decoration 01: #DCF1FA // light blue 01
    decoration 02: #CCEFF9 // light blue 02
    decoration 03: #BFD7EA // to increment text
    decoration 04: #7699D4 // to increment principal color
=============================== */

/* General */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap'); /* Import - Font: Opens Sans */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #EBF2FA;
}


/* ========================================================================================== */

/* Preloader */
/* ========================================================================================== */

/* Typography */
/* ========================================================================================== */

/* Header*/
/* ========================================================================================== */

/* Content 01*/
/* ========================================================================================== */

/* Content 02 */
/* ========================================================================================== */

/* Content 03 */
/* ========================================================================================== */

/* Footer */
/* ========================================================================================== */
